.good {
    color: #000000;
    font-size: 35px;
    font-weight: bold;
}
.small {
    color: #000000;
    font-size: 20px;
}
.highlight:hover {
    border-color: rgba(21, 137, 238);
    box-shadow: 0 0 11px rgba(0, 112, 210, 0.2);
  }
  .general {
    background-color: #dcdcdc;
  }